body {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  color:rgb(39, 39, 37);
  background-color: rgba(224, 243, 255, 0.801);
}

h1, h2, h3 {
  color: black;
  font-weight: 800;
  font-family: 'Times New Roman', Times, serif;
  font-size: 22px;
}

a {
  text-decoration: none;
}

.btn-purple:hover {
  background-color: black;
  color: white;
}

.list-inline > li {
  display: inline;
  padding: 10px;
}

.list-inline i:hover {
  color: white;
}

.card {
  background-color: rgb(219, 217, 215);
  width: 500px;
  padding: 30px 100px;
  margin: 20px 0px;
  box-shadow: 2px 2px 4px rgba(85, 80, 80, 0.61);
  border-radius: 5px;
  text-align: center;
}

.container {
  width:max-content;
  margin: 0 auto;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.btn-purple {
  color: white;
  font-weight: 750;
  background-color: rgb(92, 7, 172);
  border-radius: 4px;
  padding: 10px 15px;
}

.img-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

/* ------------------------------------ */

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}